{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1GqWF0CK15cbHa-wkGGZ203LcGt87wqXr">
<section id="popular" class="module">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="module-header wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
						<h2 class="module-title">Our New Menu: Coming Soon</h2>
                        <h3 class="module-dark">Our new Trippy Dank Sigma Grindset Grustle Restaurant Opens May 14th.</h3>
						<h4 class="module-subtitle">We have the best food metaphysically possible!!!!</h4>

					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-6">

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Protein Shake: Chocolate and <i class="em em-b" aria-role="presentation" aria-label="NEGATIVE SQUARED LATIN CAPITAL LETTER B"></i>anilla</h4>
								<div class="menu-detail">Goat's Milk Derivative Sources</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$3</h4>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Reign Energy Drink</h4>
								<div class="menu-detail">300mg of caffeine</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$5</h4>
								<div class="menu-label">RAGE</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Bucket of Popcorn</h4>
								<div class="menu-detail">4,000 calories of happiness</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$24</h4>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Beef Jerky a La Mode</h4>
								<div class="menu-detail">Dried tenderloin atop ice cream</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$13</h4>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Mom's Moldy Meatloaf</h4>
								<div class="menu-detail">We left it in the trash before serving. Extra tender.<i class="em em-astonished" aria-role="presentation" aria-label="ASTONISHED FACE"></i><i class="em em-astonished" aria-role="presentation" aria-label="ASTONISHED FACE"></i><i class="em em-astonished" aria-role="presentation" aria-label="ASTONISHED FACE"></i></div>
							</div>

							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$36</h4>
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-6">

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Domestic Beer (bottle)</h4>
								<div class="menu-detail">Various Brands</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$3-10</h4>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Hot Dogs</h4>
								<div class="menu-detail">A classic!<i class="em em-hamburger" aria-role="presentation" aria-label="HAMBURGER"></i><i class="em em-hamburger" aria-role="presentation" aria-label="HAMBURGER"></i></div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$8</h4>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Bang Energy Drink</h4>
								<div class="menu-detail">Spiked with 800mg of caffeine and Dinitrophenol</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$5</h4>
								<div class="menu-label">DESTRUCTION</div>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Cheerios with Collector's Spoon</h4>
								<div class="menu-detail">Plain cheerios tee hee</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$10</h4>
							</div>
						</div>
					</div>

					<div class="menu">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="menu-title">Rumple Minze</h4>
								<div class="menu-detail">100 proof. Best served whilst gaming</div>
							</div>
							<div class="col-sm-4 menu-price-detail">
								<h4 class="menu-price">$1337</h4>
							</div>
						</div>
					</div>

				</div>
			</div>

				</div>

	</section>
{% endblock %}